{% extends 'home/dashboard.html' %}
{% load static %}
{% load bootstrap %}
{% block title %}

Teachers-List
{% endblock %}
{% block css %}
{% endblock %}
{% block pageHeader %}
List of Old Teachers
{% endblock %}
{% block dashboard %}

<div class="container table-responsive table-responsive-md table-responsive-lg table-responsive-x border rounded">
    <a href="{{request.META.HTTP_REFERER|escape}}" class='h3 bx bx-arrow-back text-decoration-none text-dark'></a>

    <!-- <div class="row justify-content-center">
        <div class="col-6 align-self-center">
            <form action="" method="GET" class="row row-cols-lg-auto g-3">
                {% for field in filter.form %}
                <div class="col-12">
                    <label class="" for="inlineFormInputGroupUsername">{{ field.label_tag }}</label>
                    <div class="input-group">
                        <div class="row">
                            <div class="col-auto form-inline">
                                {{ field.errors }}
                                {{ field }}
                                {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <br>
                <span class="align-baseline"><button class="btn btn-sm btn-primary "
                        type="submit">Submit</button></span>
            </form>
        </div>
    </div> -->

    <table id="myTable"
        class="table table-hover table-striped text-center display border border-dark rounded align-middle caption-top ">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Full Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Email Id</th>
                <th scope="col">Started Date</th>
                <th scope="col">End Date</th>
                <th scope="col">View</th>
                <th scope="col">Edit</th>
                <th scope="col">Enable Login</th>
            </tr>
        </thead>
        <tbody>
            {% for t in filter.qs %}
            <tr class="mx-auto">
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{t.full_name}}<br></td>
                <td>
                    {% if t.gender == 1 %}
                    Male
                    {% elif t.gender == 2 %}
                    Female
                    {% else %}
                    Other
                    {% endif %}
                </td>
                <td>{{t.phone_number}}<br></td>
                <td>{{t.email_id}}</td>
                <td>{{t.started_date}}</td>
                <td>{{t.end_date}}</td>
                <td><a href="{% url 'teacherProfileView' pk=t.user_id %}" class="btn btn-sm btn-success">View</a></td>
                <td><a href="{% url 'teacherProfileEdit' t.user_id %}" class="btn btn-sm btn-warning">Edit</a></td>
                {% if t.user_id.is_active == True %}
                <td><a href="{% url 'disable-old-teacher' t.user_id %}"
                        class="btn btn-sm btn-danger">Disable</a></td>
                {% else %}
                <td><a href="{% url 'enable-old-teacher' t.user_id %}"
                        class="btn btn-sm btn-primary">Enable</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
{% block jsFiles %}
<script>
    $('#myTable').DataTable( {
        dom: 'Bfrtip',
        buttons: [
        'colvis',
        {
            extend: 'copy',
            split: [
            {
                extend: 'pdf',
                title: 'Old Teachers List',
                messageTop: 'The list of old teachers worked in our school.',
                pageSize: 'LEGAL',
                download: 'open',
            },
            {
                extend: 'excel',
                title: 'Old Teachers List',
                pageSize: 'LEGAL',
                download: 'open',
            },
            {
                extend: 'csv',
                title: 'Old Teachers List',
                pageSize: 'LEGAL',
                download: 'open',
            },
            ],
        },       
        ],
        
        responsive: {
            details: {
                display: $.fn.dataTable.Responsive.display.modal( {
                    header: function ( row ) {
                        var data = row.data();
                        return 'Details for '+data[0]+' '+data[1];
                    }
                } ),
                renderer: $.fn.dataTable.Responsive.renderer.tableAll( {
                    tableClass: 'table'
                } )
            }
        }
    } );
</script>
{% endblock %}