{% extends 'home/dashboard.html' %}
{% load static %}
{% block title %}
Students-List
{% endblock %}
{% block css %}
{% endblock %}
{% block pageHeader %}
List of Students - Class : {{className}} - {{subject}}
{% endblock %}
{% block dashboard %}

<div class="container table-responsive table-responsive-md table-responsive-lg table-responsive-x">

    <a href="{{request.META.HTTP_REFERER|escape}}" class='h3 bx bx-arrow-back text-decoration-none text-dark'></a>
    
    <form method="post" action="{% url 'submitMarks' assessment %}">
        {% csrf_token %}
        <button type="submit">Submit</button>
        <table id="myTable" class="table table-hover text-center table-striped border border-dark rounded caption-top ">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Marks</th>
                    <th scope="col">Grade</th>
                </tr>
            </thead>
            <tbody>
                {% for s,m in students %}
                <tr class="mx-auto">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td class="text-uppercase">{{s.full_name}}<br></td>
                    <td>
                        {% if s.gender == 1 %}
                        Male
                        {% elif s.gender == 2 %}
                        Female
                        {% else %}
                        Other
                        {% endif %}
                    </td>
                    <td>
                        <input value="{{s.user_id}}" class="form-control visually-hidden" name="student" id="student" type="text" placeholder="XX" aria-label="default input example">

                        <input maxlength="4" size="2" value="{{m.marks_gained}}" class="form-control" name="marks" id="marks" type="text" placeholder="XX" aria-label="default input example">
                    </td>
                    <td>
                        <input maxlength="2" size="2" value="{{m.grade}}" class="form-control" list="datalistOptions" name="grade" id="grade" type="text" placeholder="X" aria-label="default input example">
                        <datalist id="datalistOptions">
                            <option value="S">
                            <option value="A">
                            <option value="B">
                            <option value="C">
                            <option value="F">
                          </datalist>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
    
</div>


{% endblock %}
{% block jsFiles %}
<script>
    $('#myTable').DataTable( {
        dom: 'Bfrtip',
        buttons: [
        'colvis',
        {
            extend: 'copy',
            split: [
            {
                extend: 'pdf',
                title: 'Students List',
                messageTop: 'The list of students studying in our school.',
                pageSize: 'LEGAL',
                download: 'open',
            },
            {
                extend: 'excel',
                title: 'Students List',
                pageSize: 'LEGAL',
                download: 'open',
            },
            {
                extend: 'csv',
                title: 'Students List',
                pageSize: 'LEGAL',
                download: 'open',
            },
            ],
        },       
        ],

        responsive: {
            details: {
                display: $.fn.dataTable.Responsive.display.modal( {
                    header: function ( row ) {
                        var data = row.data();
                        return 'Details for '+data[0]+' '+data[1];
                    }
                } ),
                renderer: $.fn.dataTable.Responsive.renderer.tableAll( {
                    tableClass: 'table'
                } )
            }
        }
    } );
</script>
{% endblock %}